@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*,*::after,*::before                 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root{
    --background-light: #dee8ef;
    --primary-color: #7062d9;
    --background-dark:  #2a2b2c;
    --white:rgb(255, 255, 255);

}

html {
    scroll-behavior: smooth;
}

body {
display: grid;
justify-self: center;
color: #000;
align-self: center;
background-color: var(--background-light);
display: grid;
place-items: center;
}

main {
    margin-top: -1rem;
    padding:0 1rem;
    
    .container {
        justify-content: space-between;
    }
}
.row {
    justify-content: space-evenly;
    align-items: center;
    .col-sm{
        .hero {
            width:auto;
            height: 100%;
            display: flex;
            justify-content: center;
            padding-top: 2rem;
            padding-bottom: 2rem;
            flex-direction: column;
            line-height: .2em;

            h3{
                font-size: 1rem;
                font-weight: 600;
                margin-top: 1.5rem;
                color: #5f5b5b;
            }

            h1 {
                font-size: 2.4rem;
                font-weight: 600;
                padding-bottom: 1rem;
            }

        }
        .btns {
            flex-direction: row;
        .btn-primary{
            margin-right: .5rem;
            width: 8rem;
            background-color: var(--primary-color);
            border-color: var(--primary-color);
        } 
        .btn-info {
            width: 8rem;
            background-color: #ffffff00;
            border-color: var(--primary-color);
        }
    }
    }

}
.bg-primary {
    background-color: var(--primary-color)!important;
    color: var(--white);

    &:hover {
        color: var(--white);
    }
}

nav {
    width: 100%;
}

.collapse {
    padding-right: 4rem;
    justify-content: flex-end;
}
.navbar-light .navbar-brand{
    color: var(--white);
    font-weight: 500;
    padding-left: 1rem;

    &:hover{
        color: var(--white);
    }
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: underline;
    text-decoration-thickness: .3rem;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--white);

    &:hover{
        color:var(--white);
    }
}

.uifun {
    padding: .6rem;
    width: 90%;
}

.features {
    width: 100%;
    padding: 3rem 1rem;
    background-color:var(--white);
    

.list {
    justify-content: space-between;
    ul {
        margin-left: 2rem;
        border:none;
        a{
            text-decoration: none;
        }
        li{  
           border: none;
            &:before{
                content: '';
                left: -2em;
                position: absolute;
                width: 20px;
                height: 20px;
                background-image: url('../img/check.svg');
                background-size: contain;
                margin-right: .5em;
            }
        }
    }
}
}
.illustration {
    width: 100%;
    margin: auto;;
    img {
        padding: 2rem;
        padding-left: 3rem;
        height: 15rem;
        width: auto;
    }
}
footer {
    background-color: #c8ccdd;
    width: 100%;
    padding: .6rem;
    position: relative;
    bottom: 0;
}
.navbar-light .navbar-toggler {
    color: var(--white);
    border-color: var(--white);
}
.navbar-light .navbar-toggler-icon {
    background-image: url("img/menu.svg")
}

.card-body {
    justify-content: space-between;
    flex: 1 1 auto;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.features {
    
    .container {
        .row {
            .col-sm {
                display: flex;
                justify-content: center;
                margin: 1rem;
            }
        }
    }
}

.tools {
    width:100%;
    margin: 0;
    background-color: var(--white);
}

.feather {
    cursor: url('img/feather-pen.png'), auto;
}
.support {
    
    .container {
        .row {
            .col-sm {
                width: 100%;
                margin: 1rem 0em;

                ul {
                    width: 100%;

                    li {
                        list-style: none;
                        font-weight: bold;
                        padding-bottom: 1rem;
                    }
                }
            }
        }
    }
}

.lnsrc {
    background-color: var(--background-light);
    width: 100%;
    padding: 2rem 3rem;
    padding-top: 0;

    .container {
        .row {
            .feature {
                ul {
                    li {
                      background-color: var(--background-light); 
                      list-style: none;  
                      &:before{   
                        content: '';
                        left: -2em;
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        background-image: url('../img/check.svg');
                        background-size: contain;
                        margin-right: .5em;
                      }
                    }
                   
                }
            }
        }
        
    }
}

.tools{
    background-color:var(--white);

    .container {
        .row{
            .col {
                h4 {
                    color: #676869;
                }
            }
        }
    }
}

.useweb {
    background-color: var(--background-light);
    width: 100%;
    padding: 2rem 3rem;
    padding-top: 0;

    .container {
        .row {
            .feature {
                ul {
                    li {
                      background-color: var(--background-light);   
                      display: flex;
                      justify-content: space-between;

                      &:before{   
                        content: '';
                        left: -2em;
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        background-image: url('../img/check.svg');
                        background-size: contain;
                        margin-right: .5em;
                      }
                    }
                   
                }
            }
        }
        
    }
}
.supportList li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}
ol, ul {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-5 {
    padding-top: 1rem!important;
    padding-bottom: 3rem!important;
}