@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
  background-color: #dee8ef;
  display: grid;
  place-items: center;
}

main {
  margin-top: -1rem;
  padding: 0 1rem;
}

main .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row .col-sm .hero {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: .2em;
}

.row .col-sm .hero h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1.5rem;
  color: #5f5b5b;
}

.row .col-sm .hero h1 {
  font-size: 2.4rem;
  color: black;
  font-weight: 600;
  padding-bottom: 1rem;
}

.row .col-sm .btns {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.row .col-sm .btns .btn-primary {
  margin-right: .5rem;
  width: 8rem;
  background-color: #7e6eed;
  border-color: #7e6eed;
}

.row .col-sm .btns .btn-info {
  width: 8rem;
  background-color: #ffffff00;
  border-color: #7e6eed;
}

.bg-primary {
  background-color: #7e6eed !important;
}

nav {
  width: 100%;
}

.collapse {
  padding-right: 4rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar-light .navbar-brand {
  color: white;
  font-weight: 500;
  padding-left: 1rem;
}

.navbar-light .navbar-brand:hover {
  color: white;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: underline;
  text-decoration-thickness: .3rem;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: white;
}

.uifun {
  padding: .6rem;
  width: 90%;
}

.features {
  width: 100%;
  padding: 3rem 1rem;
  background-color: #fff;
}

.features .list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features .list ul {
  margin-left: 2rem;
  border: none;
}

.features .list ul a {
  text-decoration: none;
}

.features .list ul li {
  border: none;
}

.features .list ul li:before {
  content: '';
  left: -2em;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../img/check.svg");
  background-size: contain;
  margin-right: .5em;
}

.illustration {
  width: 100%;
  margin: auto;
}

.illustration img {
  padding: 2rem;
  padding-left: 3rem;
  height: 15rem;
  width: auto;
}

footer {
  background-color: #c8ccdd;
  width: 100%;
  padding: .6rem;
  position: relative;
  bottom: 0;
}

.navbar-light .navbar-toggler {
  color: #fff;
  border-color: #fff;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("img/menu.svg");
}

.card-body {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
}

.features .container .row .col-sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
}

.tools {
  width: 100%;
  margin: 0;
  background-color: white;
}

.feather {
  cursor: url("img/feather-pen.png"), auto;
}

.support .container {
  padding: 3rem;
}

.support .container .row .col-sm {
  width: 100%;
  margin: 1rem 2em;
}

.support .container .row .col-sm ul {
  width: 100%;
}

.support .container .row .col-sm ul li {
  list-style: none;
  font-weight: bold;
  padding-bottom: 1rem;
}
/*# sourceMappingURL=style.css.map */